{{ ansible_managed | comment }}
[general]
backend = "{{ whisrs_backend }}"
language = "{{ whisrs_language }}"
overlay = false
notify = {{ whisrs_notify | lower }}

[local-whisper]
model_path = "{{ __whisrs_model_path }}"

[hotkeys]
toggle = "{{ whisrs_hotkey }}"
