[general]
backend = "{{ whisrs_backend }}"
language = "{{ whisrs_language }}"
overlay = false
notify = {{ whisrs_notify | lower }}

[local-whisper]
model = "{{ whisrs_model }}"

[hotkeys]
toggle = "Super+Ctrl"
